
    <div class="bar">
        <div class="nav">
            <div [routerLink]="['/home']" class="logo">
                <p  data-text="Break" >Break</p>
            </div>
            <div class="item" id="selected">Discover</div>
            <div class="item">Library</div>
            
            <div class="modal-container">
              <input id="modal-toggle" type="checkbox">
          <label class="item" for="modal-toggle"  [routerLink]="['/highscores']">High Scores</label>
          <label class="modal-backdrop" for="modal-toggle"></label>
          <div class="modal-content">
            <label class="modal-close" for="modal-toggle">&#x2715;</label>
            <h2>Unique ID here</h2><hr />
            <h1></h1> 
            <label class="modal-content-btn" for="modal-toggle">OK</label>   
          </div>   
          </div>

            <div [routerLink]="['/aboutus']" class="item">About us</div>
        </div>
    </div>
    <div class="pop-title">
      <h1>Featured Game</h1>
    </div>

<!--Carousel Wrapper-->
<mdb-carousel style="display:flex; justify-content: center; align-items: center; padding: 0 2em 1em 2em; width: 100%;"[isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
  <!--First slide-->
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../assets/game-cover.jpg"
           alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive"></h3>
      <p></p>
    </div>
  </mdb-carousel-item>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../assets/game-cover.jpg"
           alt="Second slide">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive"></h3>
      <p></p>
    </div>
  </mdb-carousel-item>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../assets/game-cover.jpg"
           alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive"></h3>
      <p></p>
    </div>
  </mdb-carousel-item>
  <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->
 
<!-- Smaller Carousel    -->
<mdb-carousel style="display:flex; text-align: center; width: 100%;" [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
      [animation]="'slide'">
      <mdb-carousel-item style="margin-top: 1em;" *ngFor="let item of slides; let i = index">
        <div class="col-md-4" [ngClass]="{'d-none d-md-block': cardIndex !== 0}"
          *ngFor="let card of item; let cardIndex = index">
          <mdb-card class="my-1">
            <mdb-card-img style="width:auto; height:250px; display:flex;" [src]="card.img" alt="Card image cap"></mdb-card-img>
          </mdb-card>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>

<!-- Our Carousel -->
<!-- <div class="games-carousel">
    
      <div class="nine columns">
        <div class="coverflow">
          <a class="prev-arrow"></a>
          <a href=""><img src="https://image-cdn.essentiallysports.com/wp-content/uploads/20200829002100/Animal-Crossing-New-Horizons-PC-Unlocked-Version-Download-Full-Free-Game-Setup-1600x900-4.jpg" class="coverflow__image" /></a>
          <a href=""><img src="https://upload.wikimedia.org/wikipedia/en/5/57/Doom_cover_art.jpg" class="coverflow__image" /></a>
          <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ1mNYWn7LrLRE1grD_5WEAYgmucSTW6GY5Lg&usqp=CAU" class="coverflow__image" /></a>
          <a href=""><img src="https://hb.imgix.net/166356e60e08a6c0f4369bbb5cdca84289f0914a.jpeg?auto=compress,format&fit=crop&h=353&w=616&s=dc491aebdff622b0c82b32a0caf2d4d8" class="coverflow__image" /></a>
          <a href=""><img src="https://img-eshop.cdn.nintendo.net/i/e015bde170dda60a4e939f78181dabd69879951e22c47ca4a0871176d5b910fc.jpg?w=1000" class="coverflow__image" /></a>
          <a class="next-arrow"></a>
        </div>
      </div>
</div> -->

<div class="l-container">
    <div class="b-game-card">
      <div class="b-game-card__cover" style="background-image: url(https://m.media-amazon.com/images/M/MV5BMjdmNDVhNTYtYzI3OC00MWVjLTkwNTktZjNiOTEzYzRlOTA1L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_.jpg);"></div>
    </div>
    <div class="b-game-card">
      <div class="b-game-card__cover" style="background-image: url(https://cdn.europosters.eu/image/750/posters/zelda-breath-of-the-wild-game-cover-i34556.jpg);"></div>
    </div>
    <div class="b-game-card">
      <div class="b-game-card__cover" style="background-image: url(https://m.media-amazon.com/images/M/MV5BMWUwYzg1NjctZTc5Mi00ZmY5LTg1NTItYzExYTg4M2Y5NDFhXkEyXkFqcGdeQXVyNTEwNDY2MjU@._V1_UY1200_CR85,0,630,1200_AL_.jpg);"></div>
    </div>
    <div class="b-game-card">
      <div class="b-game-card__cover" style="background-image: url(https://vignette.wikia.nocookie.net/detroit-become-human/images/7/72/Detroit_Become_Human_Cover_001.jpg/revision/latest?cb=20190320202942);"></div>
    </div>
    <div [routerLink]="['/charselect']" class="b-game-card">
      <div class="b-game-card__cover" style="background-image: url(../../assets/game-cover.jpg); background-position: center;"></div>
    </div>
  </div>

  <div class="divider">
    <div class="bar"></div>
    <div class="show-more">
      Show more <i class="fa fa-chevron-down"></i>
    </div>
    <div class="bar"></div>
  </div>
  