<div class="container">
  <div class="bar">
      <div class="nav">
          <div class="logo">
              <p [routerLink]="['/home']" data-text="Break">Break</p>
          </div>
          <div [routerLink]="['/home']"class="item" id="selected">Discover</div>
          <div class="item">Library</div>
          <div class="item">High Score</div>
          <div class="item">About us</div>
          <div [routerLink]="['/game']" class="item">Game</div>
          
      </div>
  </div>
</div>
<!-- NAVBAR END HERE -->
