
    <div class="bar">
        <div class="nav">
            <div [routerLink]="['/home']" class="logo">
                <p data-text="Break">Break</p>
            </div>
            
            <div class="modal-container">
              <input id="modal-toggle" type="checkbox">
          <label class="item" for="modal-toggle" [routerLink]="['/highscores']">High Scores</label>
          <label class="modal-backdrop" for="modal-toggle"></label>
          <div class="modal-content">
            <label class="modal-close" for="modal-toggle">&#x2715;</label>
            <h2>Unique ID here</h2><hr />
            <h1>Score information</h1> 
            <label class="modal-content-btn" for="modal-toggle">OK</label>   
          </div>   
          </div> 
          <div [routerLink]="['/about-us']" class="item">Contact Us</div>
        </div>
    </div>


<section id="characterLine">

    <div class="tl-item">

        <div class="tl-bg" style="background-image: url(https://i.ibb.co/z8MpCkP/IMG-0291-1.png)"></div>

        <div class="tl-char">
            <h2 class="f2 heading--sanSerif">Aaron</h2>
        </div>

        <div  class="tl-content">
            
            <div class="heartbeat" style="font-size: 50px; cursor: pointer;font-family: 'Games'; color:#1AF0DC;" (click)="playerOneSelected()">SELECT CHARACTER</div>

        </div>


    </div>

    <div class="tl-item">

        <div class="tl-bg" style="background-image: url(https://i.ibb.co/ZJRx4TZ/IMG-0289-1.png)"></div>

        <div class="tl-char">
            <h2 class="f2 heading--sanSerif">Amber</h2>
        </div>

        <div class="tl-content">
            <div class="heartbeat" style="font-size: 50px; cursor: pointer;font-family: 'Games'; color:#1AF0DC;" (click)="playerTwoSelected()">SELECT CHARACTER</div>
        </div>

    </div>

    <div class="tl-item">

        <div class="tl-bg" style="background-image: url(https://i.ibb.co/ScJdgSw/IMG-0290-1.png)"></div>

        <div class="tl-char">
            <h2 class="f2 heading--sanSerif">Garrett</h2>
        </div>

        <div class="tl-content">
            
            <div class="heartbeat" style="font-size: 50px; cursor: pointer;font-family: 'Games'; color:#1AF0DC;" (click)="playerThreeSelected()">SELECT CHARACTER</div>
        </div>
    </div>

</section>