
    <div class="bar">
        <div class="nav">
            <div [routerLink]="['/home']" class="logo">
                <p data-text="Break">Break</p>
            </div>
            <div class="item" id="selected">Discover</div>
            <div class="modal-container">
              <input id="modal-toggle" type="checkbox">
          <label class="item" for="modal-toggle" [routerLink]="['/highscores']">High Scores</label>
          <label class="modal-backdrop" for="modal-toggle"></label>
          <div class="modal-content">
            <label class="modal-close" for="modal-toggle">&#x2715;</label>
            <h2>Unique ID here</h2><hr />
            <h1>Score information</h1> 
            <label class="modal-content-btn" for="modal-toggle">OK</label>   
          </div>   
          </div> 
            <div class="item">About us</div>
        </div>
    </div>


<section id="characterLine">

    <div class="tl-item">

        <div class="tl-bg" style="background-image: url(https://i.ibb.co/z8MpCkP/IMG-0291-1.png)"></div>

        <div class="tl-char">
            <h2 class="f2 heading--sanSerif">Aaron</h2>
        </div>

        <div  class="tl-content">
            <h1>STATS</h1>
            <div *ngIf="charSelect">
                <div>Super Power: {{charSelect[2].superpower}}</div>
                <div>Speed: {{charSelect[2].speed}}</div>
                <div>JumpHeight: {{charSelect[2].jumpheight}}</div>
                <div>Weapon: {{charSelect[2].weapon}}</div>
            </div>
            
            <button  (click)="playerOneSelected()">SELECT</button>

        </div>


    </div>

    <div class="tl-item">

        <div class="tl-bg" style="background-image: url(https://i.ibb.co/ZJRx4TZ/IMG-0289-1.png)"></div>

        <div class="tl-char">
            <h2 class="f2 heading--sanSerif">Amber</h2>
        </div>

        <div class="tl-content">
            <h1>STATS</h1>
            <div *ngIf="charSelect">
                <div>Super Power: {{charSelect[0].superpower}}</div>
                <div>Speed: {{charSelect[0].speed}}</div>
                <div>JumpHeight: {{charSelect[0].jumpheight}}</div>
                <div>Weapon: {{charSelect[0].weapon}}</div>
            </div>
            <button (click)="playerTwoSelected()">SELECT</button>
        </div>

    </div>

    <div class="tl-item">

        <div class="tl-bg" style="background-image: url(https://i.ibb.co/ScJdgSw/IMG-0290-1.png)"></div>

        <div class="tl-char">
            <h2 class="f2 heading--sanSerif">Garrett</h2>
        </div>

        <div class="tl-content">
            <h1>STATS</h1>
            <div *ngIf="charSelect">
                <div>Super Power: {{charSelect[1].superpower}}</div>
                <div>Speed: {{charSelect[1].speed}}</div>
                <div>JumpHeight: {{charSelect[1].jumpheight}}</div>
                <div>Weapon: {{charSelect[1].weapon}}</div>
            </div>
            <button  (click)="playerThreeSelected()">SELECT</button>
        </div>
    </div>

</section>