
    <div class="bar">
        <div class="nav">
            <div [routerLink]="['/home']" class="logo">
                <p  data-text="Break" >Break</p>
            </div>
            
           
         <div class="item"[routerLink]="['/highscores']">High Scores</div>
          <div class="item" [routerLink]="['/about-us']">Contact Us</div>
        </div>
    </div>



    <div style="text-align: center; margin: 50px 0; width:auto;">
        <h2 class="neon neon-wrapper" style="display:flex; justify-content: center; align-items:center; font-size:70px; width:auto;">HIGH SCORES</h2>
    </div>
    <div class="score-container">

        
       <div class="scores-grid ">
            <div *ngFor="let score of scoreInfo">
                 
                <div class="individual-scores ">
                    
                    <div class="username">{{score.username}}</div>
                    <!-- <span>Player #{{score.id}}</span> -->
                    <div class="points">{{score.score}} Points</div>
                    
                </div>
           </div>
       </div>
    </div>
