
    <div class="bar">
        <div class="nav">
            <div [routerLink]="['/home']" class="logo">
                <p  data-text="Break" >Break</p>
            </div>
            
           
         <div class="item"[routerLink]="['/highscores']">High Scores</div>
          <div class="item" [routerLink]="['/about-us']">About us</div>
        </div>
    </div>



    <div  style="text-align: center; font-size: 70px;margin: 20px 0">
        <h2 class="neon"style="font-size:70px;">HIGH SCORES</h2>
    </div>
    <div class="score-container">

        
       <div class="scores-grid ">
            <div *ngFor="let score of scoreInfo">
                 
                <div class="individual-scores ">
                    
                    <div class="username">{{score.username}}</div>
                    <!-- <span>Player #{{score.id}}</span> -->
                    <div class="points">{{score.score}} Points</div>
                    
                </div>
           </div>
       </div>
    </div>
