
    <div class="bar">
        <div class="nav">
            <div [routerLink]="['/home']" class="logo">
                <p  data-text="Break" >Break</p>
            </div>
            <div class="item" id="selected">Discover</div>
            <div class="item">Library</div>
            <div class="modal-container">
              <input id="modal-toggle" type="checkbox">
          <label class="item" for="modal-toggle">High Scores</label>
          <label class="modal-backdrop" for="modal-toggle"></label>
          <div class="modal-content">
            <label class="modal-close" for="modal-toggle">&#x2715;</label>
            <h2>Unique ID here</h2><hr />
            <h1></h1> 
            <label class="modal-content-btn" for="modal-toggle">OK</label>   
          </div>   
          </div> 
            <div class="item">About us</div>
        </div>
    </div>




<h1>HIGH SCORES</h1>
<h3>Can't Break Us: </h3>

<div style="display:grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto; width:100%;">
    <div *ngFor="let score of scoreInfo">
        <div style="border: 2px white solid; text-align:center; padding: 1em;">
          <div>{{score.username}}</div>
          <div>{{score.score}} Points</div>
      </div>
  </div>
