* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Arial;  
    background: linear-gradient(to top left, #ED6334, #1EA8B4);
}
h1{
    font-style: italic;
    color: black;
}

main {
    padding: 10px;
}

main p.joke {
    font-size: 28px;
    letter-spacing: 0.1em;
    color: white;
    margin-bottom: 30px;
}
button {
    -webkit-appearance: button;
    font-size: 16px;
    padding: 10px 20px;
    background: white;
    border: none;
    cursor: pointer;
    border-radius: 40%;
}

button:hover,
button:focus {
    background: lightgray;
}
footer {
    font-size: 14px;
    padding: 10px;
    color: white;
}

footer a {
    text-decoration: none;
    color: lightgray;
}

footer a:hover {
    text-decoration: underline;
    color: #fff;
}