@font-face {
    font-family: 'ArcadeClassic';
    src: url('../../ArcadeClassic.woff2') format('woff2'),
        url('../../ArcadeClassic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Upheaval Pro';
    src: url('../../UpheavalPro-Regular.woff2') format('woff2'),
        url('../../UpheavalPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Games';
    src: url('../../Games.woff2') format('woff2'),
        url('../../Games.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Retronoid';
    src: url('../../Retronoid.woff2') format('woff2'),
        url('../../Retronoid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Retronoid';
    src: url('../../Retronoid-Italic.woff2') format('woff2'),
        url('../../Retronoid-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HELLO DENVER DISPLAY';
    src: url('../../HELLODENVERDISPLAYREGULAR-Regular.woff2') format('woff2'),
        url('../../HELLODENVERDISPLAYREGULAR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HELLO DENVER DISPLAY BOLD';
    src: url('../../HELLODENVERDISPLAYBOLD-Bold.woff2') format('woff2'),
        url('../../HELLODENVERDISPLAYREGULAR-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

