<div class="bar">
  <div class="nav">
    <div [routerLink]="['/home']" (click)="closePhaserInstance()" class="logo">
      <p data-text="Break">Break</p>
    </div>
   
    <div class="modal-container">
      <input id="modal-toggle" type="checkbox">
      <label class="item" for="modal-toggle" [routerLink]="['/highscores']" (click)="closePhaserInstance()">High Scores</label>
      <label class="modal-backdrop" for="modal-toggle"></label>
      <div class="modal-content">
        <label class="modal-close" for="modal-toggle">&#x2715;</label>
        <h2></h2>
        <hr />
        <h1></h1>
        <label class="modal-content-btn" for="modal-toggle">OK</label>
      </div>
    </div>
    <div [routerLink]="['/about-us']" class="item">Contact Us</div>
  </div>
</div>

<div class="no-support">
  <div> Unfortunately, this Phaser game is not supported on mobile screens. Please widen your view or play on desktop.</div>  
</div>

<div class="phaser-lms-container">
  <!-- START OF LMS BAR -->
  <div class="game-info">
        <!-- START OF NAVBAR -->
        <nav class="lms-nav">
          <div>
            <img style="padding-left: 5px" src="/assets/ham-icon.png" alt="">
            <span style="padding-left: 5px;">LMS</span>
          </div>
          
          <div style="display:flex; flex-direction: row; justify-content: center; align-items: center;">
              <i class="icon fa fa-bell fa-fw " aria-hidden="true" title="Toggle notifications menu" aria-label="Toggle notifications menu"></i>
              <i class="icon fa fa-comment fa-fw " aria-hidden="true" title="Toggle messages menu" aria-label="Toggle messages menu"></i>
              <div>{{uniqueId.value}}</div>
              <img style="border-radius: 25px; padding: 5px;"src="/assets/f2.png" alt="">
          </div>
        </nav>
        <!-- STAR OF AHBC TITLE -->
        <div id="AHBC" style="display: flex; flex-direction:column; justify-content:center; align-items: center; background-color: white; padding: 1em; margin: 10px;">
          <div id="try-again" style="cursor:pointer; font-size: 30px; " class="heartbeat" (click)="closeGameEnd()" [routerLink]="['/charselect']"><div style=" font-family:'Games' ; margin-bottom: 10px; border: solid #1AF0DC 3px; color: #1AF0DC; border-radius:10px; background:black; padding:10px;">Try Again</div></div>
          <div style="color: #3a3a3a">AHBC Front-End 2020 Q2 DET</div>
          <div style="display: flex;  flex-direction: row; flex-wrap: wrap; justify-content:center; align-items: center;">
            <div class="fake-link">Dashboard</div> /
            <div class="fake-link">My Course </div> /
            <div class="fake-link">AHBC FE 2020 Q2 DET</div>
          </div>
        </div>

        <div style=" display: flex; flex-direction: column; justify-content: center; align-items: center;background-color: white; padding: 1em; margin: 10px;">

          <div style="display:flex; flex-direction: column; font-family:'ArcadeClassic'; color: black; font-size: 2em; margin-bottom: .3em; ">
            
            <div style="display:flex; flex-direction: row;justify-content: center;">
              
              <div >Score:</div>
              <div style="padding:0 .2em;" id="score">0</div>
              <div><img class="floater" src="../../assets/coin stack.png" alt="stackofcoins"></div> 
            </div>
            <div>
              <div style="font-size: .4em; font-family:'ArcadeClassic';">(# of Jacob Coins Collected x 10)</div>
            </div>
        </div>

          <div>
            <div style="color:grey">Overall Progress</div>
              <div style="color: black; font-size: 2em; display:flex; flex-direction: row; justify-content:center;">
                <div id="assess-comp">0</div>
                <div>%</div>
              </div>
          </div>
          <div style="color:#3cc">Announcements</div>
          <div style="display: flex; flex-wrap: wrap; align-items: center; padding: 10px;">
            
              <div class="fake-link">CSS Tools</div> -
              <div class="fake-link">W3Schools HTML</div> -
              <div class="fake-link">W3Schools CSS</div> -
              <div class="fake-link">Class Repo</div> - 
              <div class="fake-link">JS Practice Problems</div> -
          </div>
    
   
        <div style="display:grid; grid-template-columns: 1fr 1fr; grid-row-gap:6px; grid-column-gap:6px; align-self: center; text-align: center;">
        <div class="lms-box">Weekly Schedules</div>
        <div class="lms-box">Learning to Learn</div>
        <div class="lms-box">Slides & Guides</div>
        <div class="lms-box">Lab & Exercises</div>
        <div class="lms-box">Assessments</div>
        <div class="lms-box">Resources</div>
        <div class="lms-box">Textbook</div>
        <div class="lms-box">Admin</div>
        <div class="lms-box">1:1 Sign-ups</div>
        
        </div>
      
    </div>
      
      
</div>
<!-- END OF LMS BAR -->



<!-- PHASER GAME CONTAINER -->
  <div id='game-area'>

        

    
    <div id="instructions-1">
      <h1 style="font-size: 25px; margin-top:10px;" class="regularh1">Welcome to: </h1>
        <div style="display:flex; flex-direction: row; font-size: 42px; justify-content: center;align-items: center; ">
          <div style="padding-right:10px;">Can't </div> 
          <p data-text="Break">Break</p> 
          <div  style="padding-left:10px;"> Us!</div> 
        </div>
       

        <div style="font-size: 19px;  font-family: 'Comfortaa', cursive;">
          <li>Collect enough coins to advance to the next assessment while trying to avoid the oncoming technologies (HTML, CSS, JavaScript, DOM, Typescript, Angular, Node/Express and SQL). </li>
          <div style="display: flex; flex-direction: row; justify-content: space-evenly;align-items: center; height: 45px; padding: 5px 0">
          <img src="../../assets/html.png" width="40px" height="40px" alt="">
          <img src="../../assets/css.png" width="40px" height="40px"alt="">
          <img src="../../assets/javascript.png" width="40px" height="40px"alt="">
          <img src="../../assets/dom.png" height="24px" width="auto" alt="">
          <img src="../../assets/typescript.png" width="40px" height="40px" alt="">
          <img src="../../assets/angular.png" width="40px" height="40px" alt="">
          <img src="../../assets/node-express.png" height="24px" width="auto" alt="">
          <img src="../../assets/sql.png"width="40px" height="40px" alt="">
          </div>
          <li>Coins are <span style="font-family:'ArcadeClassic'; font-size: 25px; color:yellow;" class="floater">10 points</span>  each and Nicole Tutoring Sessions are <span style="font-family:'ArcadeClassic'; font-size: 25px; color:yellow;" >10 points </span>  each as well.</li>
          <div style="display:flex; flex-direction: row; justify-content: center; align-items: center; padding:0; margin:0;">
            <img class="heartbeat" src="../../assets/coin_instruct.png" height="32" width="32" alt=""><span style="padding-left: 10px; font-family:'ArcadeClassic'">= 10 points</span> 
            <img class="wiggle" src="../../assets/nicole_instruct.png" alt=""><span style="font-family:'ArcadeClassic'; ">= 10 points</span> 
          </div>
          <li>After you've collected <span style="color:yellow;font-family:'ArcadeClassic'; font-size: 25px;">8 </span> coins or reached <span style="font-family:'ArcadeClassic'; font-size: 25px; color:yellow;">80 points</span>
            , you will automatically move on to the next assessment and <span style="font-family:'ArcadeClassic'; font-size: 25px; color:yellow;">8 </span> new coins will be loaded in. There are 
            <span style="font-family:'ArcadeClassic'; font-size: 25px; color:yellow;">7</span>assessments in total, with a Pretest at the beginning. Demo Day is the end goal. 
            <div><div class="wiggle" style=" display:flex; flex-direction:row; justify-content:flex-end; align-items:center;font-family:'ArcadeClassic'; cursor: pointer; font-size: 40px;" (click)="nextInstructions()">Next</div></div></li>
            
        </div>
        
        
    </div>

    <div id="instructions-2">
      
      <div style="font-size: 20px; font-family: 'Comfortaa', cursive;">
          
        
        <li style="margin-bottom:1em">The score is calculated as follows:</li>
            <ol style="display:flex; flex-direction: row;">
              <div>
                <li><span style="font-family:'ArcadeClassic'; font-size: 25px; color:yellow;">80 points </span> = Assessment 1</li>
                <li><span style="font-family:'ArcadeClassic'; font-size: 25px; color:yellow;">160 points </span> = Assessment 2</li>
                <li><span style="font-family:'ArcadeClassic'; font-size: 25px; color:yellow;">240 points </span> = Assessment 3</li>
              </div>
              <div style="padding: 10px;">
                <img src="../../assets/Aaron.gif" alt="">
                <img src="../../assets/Amber.gif" alt="">
                <img src="../../assets/Garrett.gif" alt="">
              </div>
            </ol>
    
            And so on. All the way up to <span style="font-family:'ArcadeClassic'; font-size: 25px; color:yellow;">640 points </span> where your "Overall Progress" will be 100% and you will have reached Demo Day. 
      
          <li style="margin: 1em 0">If you run into a technology, it is an automatic game over and you will have to select a new character and start from the Pre-Test once again.  </li>
          <li>The player is controlled with the main arrows keys. To jump is <span><img src="../../assets/up_key.png" width="32px" height="32px" alt=""></span>, to move left is <span><img src="../../assets/left_key.png" width="32px" height="32px" alt=""></span> and to move right is <span><img src="../../assets/right_key.png" width="32px" height="32px" alt=""></span>.</li>
          <li>Your score and completion percentage are displayed to the left in the LMS bar. </li>
      </div>
      <div style="  display:flex; flex-direction: row; justify-content: flex-end; font-family:'ArcadeClassic';cursor: pointer;  color:white; font-size: 40px;" class="heartbeat" (click)="startGame()">START</div>
    </div>
    <!-- START OF GAME OVER SCREEN -->

    
    <div id="form">
      <div style="display: flex; background-color: #4a154b;font-family:'Lato', sans-serif; justify-content:center; color:white; width:100%;height:50px;">
        
      </div>
      
      <div class="inner-form">
        <div style="display: flex; background-color: #4a154b;font-family:'Lato', sans-serif; justify-content:center; color:white; width:100%;height:auto;">
          <img  src="../../assets/slack.png" alt="">
        </div>
          
          <h1 class="regularh1" style="color:black; font-family: 'ArcadeClassic';">Hey Bootcampers!</h1>
          <div style="display:flex; flex-direction: column; justify-content: center;align-items: center;margin:0 1em; ">
            <h4 style="font-weight: 700; text-align:center">Hope everyone had a good long weekend! Reminding you:</h4>
              <ol>
                <li>Surveys are due by the end of the week.</li>
                <li> To play again, hit the <span style=" font-family:'Games'; margin:0; padding:5px; font-size: 20px; background: black; border-radius: 10px; border: solid #1AF0DC 3px; color: #1AF0DC;" class="heartbeat"> TRY AGAIN</span> button at the top of the LMS bar. Scores can be viewed by clicking the "High Scores" link in the navigation bar above. 
                  Enter your Unique ID (15 characters max) below then press the "SUBMIT" button to submit your final scores! </li>
                <li>As always, please feel free to reach out with any questions! Rooting for you!!! </li>
                <li> ~ Feedback is a gift!</li>
              
            </ol>
          </div>
          <div style="display: flex; flex-direction: row; justify-content: center; align-items: baseline;">
              <div style=" display:flex; flex-direction: row; justify-content: center; align-items: baseline;"id="submit" >
                <label style="padding-right: 10px;"> Enter Your Unique ID:</label>
                <input style="font-size:.8em; " type="text" maxlength="15" #uniqueId />
            
              </div>
              <div type="submit" id="submit-button" display="block" class="pixel-button pulse" (click)="getUniqueIdValue(uniqueId.value)"><div>SUBMIT</div></div>
          </div>
        
              <div style="margin-bottom: 1em; padding: .7em; background-color: white;border: 3px solid #4a154b; color:black; text-align: center;"   *ngIf="dadJoke" class="dad-joke">
                <div style="font-size: 25px; font-weight: 700;">Dad Joke Of The Night:</div>
                <div>{{dadJoke.setup}}</div>
                <div>{{dadJoke.punchline}}</div>
              </div>
      
      
      </div>

      
   
    </div>
  </div>
<!-- ZOOM WINDOWS -->
  <div class="zoom-windows">
   
    <div id="show-jacob">
      <img style="background:lightseagreen" src="../../assets/jacob.png"   width="200" height="173" alt="jacobphoto">
      <div style ="display:flex; flex-direction: row; justify-content: center; align-items: center; background:black">
        <div><img src="../../assets/wifi-bar.png" alt="wifi"></div>
        <div style="padding-top:.2em">Jacob Plumb</div>
      </div>
    </div>
    <div id="show-nicole">
      <img style="background:lightseagreen" src="../../assets/nicole_zoom.png" width="200" height="173" alt="nicolephoto">
      <div style ="display:flex; flex-direction: row; justify-content: center; align-items: center; background:black">
        <div><img src="../../assets/wifi-bar.png" alt="wifi"></div>
        <div style="padding-top:.2em">Nicole Bush</div>
      </div>
    </div>
    <div id="show-grace">
      <img style="background:lightseagreen" class="" src="../../assets/grace.png"  width="200" height="173" alt="photo of Grace">
      <div style ="display:flex; flex-direction: row; justify-content: center; align-items: center; background:black">
        <div><img src="../../assets/wifi-bar.png" alt="wifi"></div>
        <div style="padding-top:.2em">Grace Erdmann</div>
      </div>
    </div> 
  </div>

  
  