
    <div class="bar" >
        <div class="nav">
            <div [routerLink]="['/home']" (click)="closePhaserInstance()"class="logo">
                <p data-text="Break" >Break</p>
            </div>
            <div class="item" id="selected" (click)="closePhaserInstance()">Discover</div>
            <div class="item" (click)="closePhaserInstance()">Library</div>
            <div class="modal-container">
              <input id="modal-toggle" type="checkbox">
          <label class="item" for="modal-toggle">Current Score</label>
          <label class="modal-backdrop" for="modal-toggle"></label>
          <div class="modal-content">
            <label class="modal-close" for="modal-toggle">&#x2715;</label>
            <h2>Unique ID here</h2><hr />
            <h1>Score information</h1> 
            <label class="modal-content-btn" for="modal-toggle">OK</label>   
          </div>   
          </div> 
            <div class="item">About us</div>
        </div>
    </div>

    <div id='game-area'>

    <!-- CONTAINS PHASER GAME, DONT PUT ANYTHING ELSE INSIDE THIS DIV -->

    </div>
