
<div class="bar">
    <div class="nav">
        <div [routerLink]="['/home']" class="logo">
            <p data-text="Break">Break</p>
        </div>
        <div class="item" id="selected">Discover</div>
        <div class="item">Library</div>
        <div class="modal-container">
          <input id="modal-toggle" type="checkbox">
      <label class="item" for="modal-toggle" [routerLink]="['/highscores']">High Scores</label>
      <label class="modal-backdrop" for="modal-toggle"></label>
      <div class="modal-content">
        <label class="modal-close" for="modal-toggle">&#x2715;</label>
        <h2>Unique ID here</h2><hr />
        <h1>Score information</h1> 
        <label class="modal-content-btn" for="modal-toggle">OK</label>   
      </div>   
      </div> 
      
    </div>
</div>
<!-- START TEAM -->
<section id="team">
    <div class="container">

        <div id="team-1" class="team-single active">
            <div class="team-img">
                <img src="https://i.ibb.co/sC4QS3r/aaron.png" alt="Aaron">
                <div class="team-social">
                    <ul>
                        <li><a href="mailto:armst209@gmail.com?subject=Mail from Angular App"target="_blank"><i class="fa fa-google"></i></a></li>
                        <li><a href="https://github.com/armst209"target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/aaronlamararmstrong/"target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <!-- END team-social-->
            </div>
            <!-- END team-img-->
            <div class="team-info text-center">
                <div class="signature">

                    <h1 data-text="Aaron Armstrong">Aaron Armstrong</h1>
                </div>
            </div>
        </div>

        <div id="team-2" class="team-single active">
            <div class="team-img">
                <img src="https://i.ibb.co/dL6ypmd/propic.png" alt="Garrett">
                <div class="team-social">
                    <ul>
                        <li><a href="mailto:garrett.brown2@loop.colum.edu?subject=Mail from Angular App"target="_blank"><i class="fa fa-google"></i></a></li>
                        <li><a href="https://github.com/MrGBrown"target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="linkedin.com/in/garrettbrowndev/"target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <!-- END team-social-->
            </div>
            <!-- END team-img-->
            <div class="team-info text-center">
                <div class="signature">

                    <h1 data-text="Garrett Brown">Garrett Brown</h1>
                </div>
            </div>
            <!-- END team-info-->
        </div>
        <!-- END team-single-->
    

    <div id="team-3" class="team-single active">
        <div class="team-img">
            <img src="https://i.ibb.co/JnQzWfB/image-from-ios.png" alt="Amber">
            <div class="team-social">
                <ul>
                    <li><a href="mailto:amber.dostert@gmail.com?subject=Mail from Angular App"target="_blank"><i class="fa fa-google"></i></a></li>
                    <li><a href="https://github.com/Adostert"target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/amberdostert/"target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <!-- END team-social-->
        </div>
        <!-- END team-img-->
        <div class="team-info text-center">
            <div class="signature">

                <h1 data-text="Amber Dostert">Amber Dostert</h1>
            </div>
        </div>
     </div>
        <!-- END row-->
  </div>
    <!-- END container-->
</section>
<section id="user-info">
    <h2>Get in Touch</h2>
    <form [formGroup]="validatingForm" action="/action_page.php">
     <input type="text" name="FirstName" placeholder="Your name..."><br>
     <input type="text" name="LastName" placeholder="Your email..."><br>
     <textarea placeholder="Add students name and your message here..."></textarea><br> 
     <button type="submit" value="submit">Send</button>
    </form>
</section>
