
@import url("https://fonts.googleapis.com/css2?family=Bentham&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bungee+Shade");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import '../src/assets/fonts/scss/modules/_fonts.scss';

:root {
  --f-size: 15;
  --f-unit: 1vmin;
  --f: calc(var(--f-size) * var(--f-unit));
  --bg: #181717;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  color: rgb(211, 211, 211);
  background-color: black;
}

/* TITLE GLITCH ANIMATION */

@keyframes glitch-p {
  17% {
    --scale: 0.87;
  }

  31% {
    --scale: 1.1;
  }

  37% {
    --scale: 1.3;
  }

  47% {
    --scale: 0.91;
  }

  87% {
    --scale: 1;
  }
}

@keyframes glitch-a {
  10%,
  30%,
  50%,
  70%,
  90% {
    --top: 0;
    --left: 0;
  }

  0% {
    --v-height: 15%;
  }

  20% {
    --left: 0.005;
  }

  40% {
    --left: 0.01;
    --v-height: 20%;
    --top: 3;
  }

  60% {
    --left: 0.03;
    --v-height: 25%;
    --top: 6;
  }

  80% {
    --left: 0.07;
    --v-height: 5%;
    --top: 8;
  }

  100% {
    --left: 0.083;
    --v-height: 30%;
    --top: 1;
  }
}

@keyframes glitch-b {
  10%,
  30%,
  50%,
  70%,
  90% {
    --top: 0;
    --left: 0;
  }

  0% {
    --v-height: 15%;
    --top: 10;
  }

  20% {
    --left: -0.005;
  }

  40% {
    --left: -0.01;
    --v-height: 17%;
    --top: 3;
  }

  60% {
    --left: -0.03;
    --v-height: 35%;
    --top: 6;
  }

  80% {
    --left: -0.07;
    --v-height: 5%;
    --top: 8;
  }

  100% {
    --left: -0.083;
    --v-height: 30%;
    --top: 1;
  }
}

p {
  flex: 1;
  line-height: 0.75;
  margin: auto;
  color: #1af0dc;
  text-align: center;
  transform: scaleX(var(--scale, 1));
  animation: glitch-p 11s infinite alternate;
  font-family: "Bungee Shade", cursive;
  font-size: 35px;
}

p::before,
p::after {
  --top: 0;
  --left: 0;
  --v-height: 30%;
  --n-tenth: calc(var(--f-size) * 0.1 * var(--top));
  --t-cut: calc(var(--n-tenth) / var(--f-size) * 100%);
  --b-cut: calc(var(--t-cut) + var(--v-height));
  content: attr(data-text);
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  transform: translateX(calc(var(--left) * 100%));
  filter: drop-shadow(0 0 transparent);
  text-shadow: calc(var(--left) * -3em) 0 0.02em lime,
    calc(var(--left) * -6em) 0 0.02em #ff00e1;
  background-color: var(--bg);
  clip-path: polygon(
    0% var(--t-cut),
    100% var(--t-cut),
    100% var(--b-cut),
    0% var(--b-cut)
  );
}

p::before {
  animation: glitch-b 1.7s infinite alternate-reverse;
}

p::after {
  animation: glitch-a 3.1s infinite alternate;
}

.title-highlight {
  color: teal;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
}

.bar {
  background-color: #18181b;
  height: auto;
  box-shadow: 0px 1px 1px black;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.nav {
  padding: 1em;
}

.logo {
  height: 100px;
  width: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: auto;
  height: 100%;
}

.bar .nav .item {
  margin: 0 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar .nav .item:hover {
  color: goldenrod;
  cursor: pointer;
}

#selected {
  color: teal;
  
  border-bottom: 2px solid goldenrod;
  /* text-decoration: underline goldenrod; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 200px;
  display: grid;
  font-size: 40px;
}
.pop-title {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  font-family:'ArcadeClassic';
  
}

.games-carousel {
  max-width: 100%;
  display: grid;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 10px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
}

.divider .bar {
  height: 1px;
  width: auto;
  padding: 0 10px;
  flex-grow: 1 !important;
  background-color: rgb(39, 39, 39);
}

.divider .show-more {
  padding: 10px;
  margin: 10px;
  color: teal;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.1s ease;
  font-size: 12px;
}

.divider .show-more:hover {
  background-color: rgb(36, 36, 36);
  cursor: pointer;
  border-radius: 5px;
}

/* CHAR SELECT CSS */

#characterLine {
  display: flex;

  background-color: #031625;
}

#characterLine:hover .tl-item {
  width: 33.3333%;
}

.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 33%;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
}

.tl-item:before,
.tl-item:after {
  transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.tl-item:after {
  background: rgba(0, 174, 255, 0.2);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.tl-item:before {
  background: linear-gradient(to bottom, transparent 0%, black 75%);
  z-index: 1;
  opacity: 0;
  transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.tl-item:hover {
  width: 89% !important;
}

.tl-item:hover:after {
  opacity: 0;
}

.tl-item:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, transform 1s ease 0.25s;
}

.tl-item:hover .tl-content {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}

.tl-item:hover .tl-bg {
  filter: grayscale(0);
}

.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;
}

.tl-content h1 {
  font-family: "Permanent Marker", cursive;
  text-transform: uppercase;
  color: #ff9900;
  font-size: 1.44rem;
  font-weight: normal;
}

.tl-char {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.tl-char h2 {
  font-family: "Permanent Marker", cursive;
  font-size: 1.728rem;
  line-height: 0;
}

.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}

/* MODAL ON NAV BAR */
.modal-content,
.modal-backdrop {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.modal-close {
  color: #aaa;
  position: absolute;
  right: 5px;
  top: 5px;
  padding-top: 3px;
  background: #fff;
  font-size: 16px;
  width: 25px;
  height: 25px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.modal-close:hover {
  color: #333;
}

.modal-content-btn {
  position: absolute;
  text-align: center;
  cursor: pointer;
  bottom: 20px;
  right: 30px;
  background: #446cb3;
  color: #fff;
  width: 50px;
  border-radius: 2px;
  font-size: 14px;
  height: 32px;
  padding-top: 9px;
  font-weight: normal;
}

.modal-content-btn:hover {
  color: #fff;
  background: #365690;
}

#modal-toggle {
  display: none;
}

#modal-toggle.active ~ .modal-backdrop,
#modal-toggle:checked ~ .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

#modal-toggle.active ~ .modal-content,
#modal-toggle:checked ~ .modal-content {
  opacity: 1;
  background-color: #fff;
  max-width: 400px;
  width: 400px;
  height: 280px;
  padding: 10px 30px;
  position: fixed;
  left: calc(50% - 200px);
  top: 12%;
  border-radius: 4px;
  z-index: 999;
  pointer-events: auto;
  cursor: auto;
  visibility: visible;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}

.b-game-card {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-bottom: 150%;
  perspective: 1000px;
}

.b-game-card__cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  background-size: cover;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform-origin: top center;
  will-change: transform;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out;
}

.b-game-card__cover::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(
    226deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.4) 35%,
    rgba(255, 255, 255, 0.2) 42%,
    rgba(255, 255, 255, 0) 60%
  );
  transform: translateY(-20%);
  will-change: transform;
  transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
}

.b-game-card:hover .b-game-card__cover {
  transform: rotateX(7deg) translateY(-6px);
}

.b-game-card:hover .b-game-card__cover::after {
  transform: translateY(0%);
}

.b-game-card::before {
  display: block;
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
  will-change: opacity;
  transform-origin: top center;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
}

.b-game-card:hover::before {
  opacity: 0.6;
  transform: rotateX(7deg) translateY(-6px) scale(1.05);
}
.l-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  width: 100%;
  /* max-width: 1200px; */
  padding: 30px;
  align-self: center;
}
.b-game-card div{
  font-size: 40px;
  color:goldenrod;
  align-items: center;
  font-family:'ArcadeClassic';
  justify-content: center;
  display: flex;
  padding-top: 18%;
}
/* PHASER DIV CSS */

.phaser-lms-container {
  display:flex;
  flex-direction: row;
  margin: 1em;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
 
}

#game-area {
  display: flex;
  /* border: 5px red solid; */
  justify-content: center;
  align-items: center;
  
  margin: 10px;
  font-family:'ArcadeClassic';
  /* border: 2px solid red; */
}

#form {
  width: 100%;
  height: auto;
  display:none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  color:black;
  background-color:black;
  z-index: 999;
  width:800px;
  height:600px;
  font-family: 'ArcadeClassic';
  font-size: 1.3em;
  padding: .5em;
  text-align:center;
}

.inner-form {
  display:flex; 
  flex-direction: column; 
  align-items: center; 
  background-color: white;
  /* border: 2px solid red; */
 
  
}
#submit {

  display:flex;
  flex-direction: column;
}

.pixel-button{

  line-height: 0;
  
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
  
  border-style: solid;
  border-width: 20px;
  -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;

 
  color: white;
  height: auto;
  margin: 10px;
  font-family: 'VT323';
  
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  
  cursor: pointer;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pixel-button:active {
  top:2px;
}
.pixel-button div{
  font-family:'ArcadeClassic';
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: auto;
  text-align: center;
  margin: -20px -20px;
  line-height: 20px;
  padding: 10px 20px;
  
	background: #000000;
	background:
		linear-gradient(135deg, transparent 10px, #000000 0) top left,
		linear-gradient(225deg, transparent 10px, #000000 0) top right,
		linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
		linear-gradient(45deg,  transparent 10px, #000000 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-image:
		radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #000000 15px),
		radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #000000 15px),
		radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #000000 15px),
		radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #000000 15px);
}



#show-jacob{

  flex-direction: column;
  width:206px; 
  background: linear-gradient(to right, yellow , lawngreen);


}

#show-grace{
  display:none;
  flex-direction: column;
  border: 3px solid linear-gradient(to right, yellow , lawngreen);
  width:200px; 
  

}

#show-nicole{
 
  flex-direction: column;
  background: linear-gradient(to right, yellow , lawngreen);
  width:206px; 
  position: relative;
  padding:3px;
  
}

.game-info {

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  width: 300px;
  height: auto;
  
}

.fake-link{

  color: #3cc;
}

.lms-nav{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:100%;
  background-color: #373f48;
}
.lms-box {

  border-top: 4px solid #3cc;
  background-color: rgba(51,204,204, 0.05);
  width: 100%;
  color: #666;
  box-shadow: 4px 4px grey;
}
.lms-box:hover {

 box-shadow:none;
}
.zoom-windows{
 
  display:grid; 
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  position: relative; 
  /* border: 3px solid red */

}

.z-window {

  width:200px;
  height:200px;
}

/* About Us Page */
.about-container {
  display: flex;
  flex-direction:row;
}

#team {
  padding: 2em;

}


#team .team-section-text {
  padding-top: 70px
}

#team .team-single {
  border: 8px solid #008080;
  margin: 10px auto;
  padding: 15px;
  width: 320px;
  display: none
}

#team .team-single.active {
  display: block
}


#team .team-img {
  position: relative
}

#team .team-img>img {
  width: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}

#team .team-social>ul {
  top: 0;
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0;
  position: absolute;
  right: 30px;
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s
}

#team .team-social>ul>li>a {
  border-radius: 50%;
  color: #DAA520;
  display: block;
  font-size: 18px;
  height: 40px;
  margin: 15px 5px;
  padding: 8px;
  position: relative;
  text-align: center;
  width: 40px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}
#team .team-social>ul>li>a:hover {
  background: #008080;
  color: #fff
}

#team .team-social>ul>li>a::after {
  border: 1px solid #dee3f4;
  border-radius: 50%;
  content: "";
  height: 50px;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 50px
}

#team .team-single:hover .team-img>img {
  margin-left: -70px
}

#team .team-single:hover .team-social>ul {
  opacity: 1;
  right: 0
}

.team-img img {
  max-width: 100%;
}

@media screen and (max-width:1200px) {
  #team {
      padding: 120px 0
  }
}

@media screen and (max-width:991px) {
  #team {
      padding: 90px 0
  }
  #team .col-md-5.col-sm-12.pull-right {
      float: none!important
  }
  #team .team-section-text {
      padding-bottom: 50px;
      padding-top: 0
  }
}



@media screen and (max-width:767px) {

  .about-container {
      display: block;
  }

  #team {
      padding: 60px 0
  }
  #team .team-section-text {
      padding-bottom: 30px;
      padding-top: 0
  }
  
  #team .team-single {
      margin: 30px auto 0;
      overflow: hidden;
      padding: 10px;
      width: 75%
  }
  #team .team-list {
      text-align: center
  }
  #team .team-list>ul>li {
      position: relative
  }
  #team .team-list>ul>li>a>figure {
      height: 65px;
      position: relative;
      width: 65px
  }
  #team .team-list>ul>li.active::after {
      margin-top: 10px;
      position: absolute;
      right: 30px!important;
      top: 100%;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg)
  }
  #team .team-list>ul>li {
      display: inline-block;
      margin: 15px 0
  }
}

@media screen and (max-width: 1200px){
#team {
  padding: 120px 0;
}
}
@media screen and (max-width: 991px){
#team {
    padding: 90px 0;
}
#team .team-section-text {
  padding-bottom: 50px;
  padding-top: 0;
}
}


/* ABOUT US STYLES */
/*---USER INFOR STYLING---*/


#user-info{
  display:flex;  
  flex-direction:column;  
  align-items:center; 
  justify-content: center; 
  margin: 1em;
 
  }

  #about-form {

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }
  
  
  #company-contact-info h2,
  #user-info h2{
  letter-spacing:0.2em;
  }
  
  #user-info input,
  #user-info textarea{
  background-color:#E9E8E8;   
  }
  
  
  #user-info button{
  background-color:#DAA520;  
  }
  
  
  #user-info button{
  color:black;    
  }
  
  #user-info,
  #user-info button:hover{
  background-color:black;   
  }
  
  /*border*/
  #user-info input,
  #user-info textarea,
  #user-info button{
  border:none;
  }
  
  /*box shadow*/
  #user-info{
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.1),
  0 6px 10px 5px rgba(0, 0, 0, 0.1), 0 8px 10px -5px rgba(0, 0, 0, 0.2);   
  }
  
  
  /*---USER INFO---*/

  
  #user-info h2{
  margin-top:2em;  
  font-size:2em;
  word-spacing:-0.2em;  
  color: #1AF0DC
  }
  
  #user-info p{
  margin:0.4em 0 0.5em 0;   
  }
  
  #user-info input,
  #user-info textarea{
  width:40em;  
  margin:0.8em 0;
  padding:0.8em 0;
  text-indent:1em;  
  border-radius:0.2em;  
  }
  
  #user-info textarea{ 
  height:6em;  
  }
  
  #user-info button{
  padding:0.7em 3em; 
  border-radius:1.5em;
  cursor:pointer; 
  transition: background .6s ease-in, transform .2s ease-out;  
  }
  
  #user-info button:hover{
  color:#008080;
  border:0.0625em solid #008080;  
  transform: scale(1.1) rotateX(30deg);  
  }
  
  
  @media (max-width: 1070px){
  
    #user-info{ 
    justify-content:center;
    width:30%; 
    }
  }
  
  
  @media (max-width: 990px){
  
    #user-info{ 
    background-color:#000;
    }
  
    #user-info h2,
    #user-info p{
    color:#DAA520;
    }
    
  
    #user-info input,
    #user-info textarea{
    background-color:#008080; 
    border:0.0625em solid #fff; 
  
    }
    
    #user-info input::placeholder,
    #user-info textarea::placeholder{
    color:#fff;   
    }
    
    #user-info textarea{ 
    height:6em;  
    }
  
    #user-info button{
    background-color:#DAA520;  
    color: #008080;   
    margin:0 auto; 
    display:flex;  
    }
  
    #user-info button:hover{
    color:#008080;
    border:0.0625em solid #fff;  
    transform: scale(1.1) rotateX(30deg);  
    background-color:#008080;  
    }
  }
  
  @media (max-width: 575px){
    #user-info{ 
    height:100%;
    width:100vw; 
    justify-content:center;  
    }
    
    #user-info input,
    #user-info textarea{
    width:80vw
    }  
  }
  
/* ABOUT US STYLES END */
.signature {
width: 100%;
display: inline-block;
font-size: 20px;
font-weight: bold;
}

h1 {
position: absolute;
text-transform: uppercase;
font-size: 2rem;
margin: 0;
padding: 0;
align-self: center;
letter-spacing: 0.3rem;
font-family: monospace;
color: transparent;
}

h1:before {
content: attr(data-text);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
color:#DAA520;
overflow: hidden;
border-right: 1px solid #000;
animation: type 10s steps(30) infinite;
white-space: nowrap;
}

@keyframes type {
0% {
  width: 0;
}

50% {
  width: 100%;
}
100% {
  width: 0;
}
}

@media screen and (min-width: 600px) {
  .nav {
    flex-direction: row;
  }

  .logo {
    height: auto;
    padding: 0 1.5em 0 1em;
  }
}
@media (max-width: 1305px) {
  html,
  body {
    width: 100%;
    height: 100%;
  }
  .main {
    grid-template-columns: 50px 12fr;
  }
}

@media screen and (max-width: 760px) {
  .l-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 730px) {
  .nav {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  #modal-toggle.active ~ .modal-content,
  #modal-toggle:checked ~ .modal-content {
    left: 0;
  }
}
